* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.app {
  background-image: url('./Components/ToDoList/Piazzale-Michelangelo-Plaza-in-Florence-Italy-Sunset.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 40px auto 20px;
  padding: 40px 30px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  height: 24px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  padding-left: 20px;
  margin-bottom: 25px;
  border-radius: 30px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
}

.editInputField {
    background: #edeef0;
    border-radius: 30px;
    margin-right: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 30px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e14d40;
}

.edit-container {
  display: flex;
  justify-content: center;
  padding: 10px 3%;
}

.editableBtn {
  border: none;
  outline: none;
  padding: 8px 25px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li p::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url('./Components/ToDoList/square-button.png');
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li p.checked {
  color: #555;
  text-decoration: line-through;
}

ul li p.checked::before {
  background-image: url('./Components/ToDoList/shape.png');
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

.editBtn {
  margin-right: 12px;
}

ul li .editBtn:hover,
ul li .deleteBtn:hover {
  background: #a7aaaf;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .todo-app {
    padding: 30px 20px 40px;
    margin: 50px auto 20px;
  }

  button {
    padding: 14px 30px;
  }

  ul li {
    font-size: 15px;
    padding: 10px 8px 10px 40px;
  }

  ul li span {
    top: 7px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .todo-app {
    padding: 20px 15px 30px;
  }

  h2 {
    font-size: 22px;
  }

  input {
    font-size: 14px;
    padding: 8px;
  }

  button {
    padding: 12px 20px;
    font-size: 14px;
  }

  ul li {
    font-size: 14px;
    padding: 8px 8px 8px 35px;
  }

  ul li span {
    font-size: 18px;
  }
}
